{varType App\Model\Entities\Cart $cart}
{snippet}
    <div>

        {if empty($cart) || $cart->getTotalCount() == 0}
            <a href="{plink Cart:default}"><span class="row text-center">Košík</span></a>
            <span class="row text-center">je prázdný</span>
        {else}
        {var $cartTotalCount = $cart->getTotalCount();}
            <a href="{plink Cart:default}">
            <span class="row text-center">Košík</span>
            <span class="row">{$cart->getTotalPrice()|number:0,',',' '} Kč</span>
            </a>
        {/if}

    </div>
{/snippet}