{varType App\Model\Entities\Category[] $categories}
{snippet}

<ul class="nav nav-tabs mn-2">
    {foreach $categories as $category}
        <li class="nav-item">
            <a n:class="$presenter->isLinkCurrent('Product:list', [category=>$category->categoryId])?active, nav-link" href="{plink Product:list category=>$category->categoryId}">{$category->title}</a>
        </li>
    {/foreach}
</ul>
{/snippet}