{varType App\Model\Entities\Product $product}
{varType App\Model\Entities\Product[] $series}
{varType App\Model\Entities\Rating $rating}
{block content}

<h1 n:block="title">{$product->title}</h1>
<div class="row">
    <div class="star-wrapper">
        <a class="{if $rating->avgStars>=4.5}s{/if} s5" n:href="Rating! productId=>$product->productId, stars=>5">&#9733;</a>
        <a class="{if $rating->avgStars>=3.5}s{/if} s4" n:href="Rating! productId=>$product->productId, stars=>4">&#9733;</a>
        <a class="{if $rating->avgStars>=2.5}s{/if} s3" n:href="Rating! productId=>$product->productId, stars=>3">&#9733;</a>
        <a class="{if $rating->avgStars>=1.5}s{/if} s2" n:href="Rating! productId=>$product->productId, stars=>2">&#9733;</a>
        <a class="{if $rating->avgStars>=0.5}s{/if} s1" n:href="Rating! productId=>$product->productId, stars=>1">&#9733;</a>
    </div>
{*    <p>Průměrné hodnocení: {$rating->avgStars}</p>*}
</div>
<div>
    <p class="text-center"><img alt="{$product->title}" src="{plink Product:photo, id=>$product->productId}"/></p>
</div>
<div class="row">
    <p>{$product->price|number:2, ',', ' '} Kč</p>
    <p n:if="$product->available==true">{control "productCartForm-$product->productId"}</p>
</div>
<div class="row">
    <p>{$product->description}</p>
</div>
<section class="row">
    {foreach $series as $seriesProduct}
        <div class="col-md-6 col-lg-4 my-2 card">
            <div class="card-body">
                <a href="{plink Product:show url=>$seriesProduct->url}"><img alt="{$product->title}" height="auto" width="100%" src="{plink Product:photo, id=>$seriesProduct->productId}" /></a>
            </div>
            <div class="card-body">
                <a class="h5" href="{plink Product:show url=>$seriesProduct->url}">{$seriesProduct->title}</a>
                <p>{$seriesProduct->price|number:2, ',', ' '} Kč</p>
                <p n:if="$seriesProduct->available==false">Zboží není dostupné</p>
            </div>
        </div>
    {/foreach}
</section>