{snippet}
  <div class="pl-4">
    {if $user->isLoggedIn()}
      <strong class="row"><a href="{plink ShopOrder:default}">{$user->identity->name}</a></strong>
      <span class="row"><a href="{link logout!}">Odhlásit se</a></span>
    {else}
      <a href="{link login!}">Přihlásit se</a>
    {/if}
  </div>
{/snippet}